<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" />
                </Class>
                <Class Id="{107AFEE1-7731-37CB-A830-2398B8AA4D0B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{319D3608-7803-30F2-94F8-CD0D72EB47F5}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" />
                </Class>
                <Class Id="{3591BF80-6348-38A0-9B58-60EECE13CE4B}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{3ACC1634-EC4E-3149-832D-42CDE375EEBD}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{423DD2A2-16F0-37D3-B240-823596051FAF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" />
                </Class>
                <Class Id="{42CC9FA5-2582-3F41-AF71-6024BE864ED9}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" />
                </Class>
                <Class Id="{746C8A3E-C378-3158-8865-BC2EBB165B0D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{8008E081-BF1F-39CB-9F49-1C05942ECCA5}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" />
                </Class>
                <Class Id="{AA3ABC91-1422-3397-A3B1-92EE4A729530}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{D6E45383-A1DC-3875-9E12-3094850B0DA4}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32\4.0.8131.24248" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0DBBD575-E1D9-32F0-960B-33C108E8E6C5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0F9EFD7A-F0F1-326D-8FDB-A8DE2D60BDDA}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{107AFEE1-7731-37CB-A830-2398B8AA4D0B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{10FB7779-C1D1-33DD-9DEB-810F8C9D0E9F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{319D3608-7803-30F2-94F8-CD0D72EB47F5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3591BF80-6348-38A0-9B58-60EECE13CE4B}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3ACC1634-EC4E-3149-832D-42CDE375EEBD}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{423DD2A2-16F0-37D3-B240-823596051FAF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{42CC9FA5-2582-3F41-AF71-6024BE864ED9}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{746C8A3E-C378-3158-8865-BC2EBB165B0D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{78E04AE2-D624-3C74-B9FD-DD6A8093DDE2}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8008E081-BF1F-39CB-9F49-1C05942ECCA5}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AA3ABC91-1422-3397-A3B1-92EE4A729530}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D6E45383-A1DC-3875-9E12-3094850B0DA4}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{05B6F66B-45D1-31BE-B745-371C7A97D311}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{05B6F66B-45D1-31BE-B745-371C7A97D311}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{05B6F66B-45D1-31BE-B745-371C7A97D311}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{05B6F66B-45D1-31BE-B745-371C7A97D311}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0F5EE100-215A-3C14-B882-A093324A52C7}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.PageSchemaPosition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0F5EE100-215A-3C14-B882-A093324A52C7}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0F5EE100-215A-3C14-B882-A093324A52C7}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{0F5EE100-215A-3C14-B882-A093324A52C7}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2044C9FF-49B7-37CC-8024-703FB0E8CDF6}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagFormat" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2044C9FF-49B7-37CC-8024-703FB0E8CDF6}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2044C9FF-49B7-37CC-8024-703FB0E8CDF6}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{2044C9FF-49B7-37CC-8024-703FB0E8CDF6}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20810866-8DF9-376D-B962-3F81E91C61C8}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20810866-8DF9-376D-B962-3F81E91C61C8}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20810866-8DF9-376D-B962-3F81E91C61C8}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{20810866-8DF9-376D-B962-3F81E91C61C8}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{519493CA-6133-3750-A2B2-C6240BD872CF}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{519493CA-6133-3750-A2B2-C6240BD872CF}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{519493CA-6133-3750-A2B2-C6240BD872CF}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{519493CA-6133-3750-A2B2-C6240BD872CF}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{74552A87-323E-35D8-928B-27FF7377775C}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagProcessClassification" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{74552A87-323E-35D8-928B-27FF7377775C}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{74552A87-323E-35D8-928B-27FF7377775C}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{74552A87-323E-35D8-928B-27FF7377775C}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8A158329-93EB-3301-99A6-2AC4700906C2}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagInputEventArgs+TaggingAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8A158329-93EB-3301-99A6-2AC4700906C2}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8A158329-93EB-3301-99A6-2AC4700906C2}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{8A158329-93EB-3301-99A6-2AC4700906C2}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A53C582E-1474-340B-9997-76BC5919095D}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A53C582E-1474-340B-9997-76BC5919095D}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A53C582E-1474-340B-9997-76BC5919095D}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A53C582E-1474-340B-9997-76BC5919095D}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C22BCA6F-0BE7-37D9-94EB-A99A9C397D35}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C22BCA6F-0BE7-37D9-94EB-A99A9C397D35}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C22BCA6F-0BE7-37D9-94EB-A99A9C397D35}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C22BCA6F-0BE7-37D9-94EB-A99A9C397D35}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EC7DEF69-E507-3268-A292-0E9D2CD5B51E}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagDisplay" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EC7DEF69-E507-3268-A292-0E9D2CD5B51E}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EC7DEF69-E507-3268-A292-0E9D2CD5B51E}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{EC7DEF69-E507-3268-A292-0E9D2CD5B51E}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7A1A1F6-ABE0-3F58-AB64-E589EE243342}\4.0.8131.24248" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7A1A1F6-ABE0-3F58-AB64-E589EE243342}\4.0.8131.24248" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.24248, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7A1A1F6-ABE0-3F58-AB64-E589EE243342}\4.0.8131.24248" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{F7A1A1F6-ABE0-3F58-AB64-E589EE243342}\4.0.8131.24248" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>