<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" />
                </Class>
                <Class Id="{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" />
                </Class>
                <Class Id="{380582C1-A3CB-3906-A907-F5C09225B61D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" />
                </Class>
                <Class Id="{3954E74A-6A1C-3F5D-A4CB-5A856835E146}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" />
                </Class>
                <Class Id="{57B4F967-191D-39FF-9C93-6586394CE88F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" />
                </Class>
                <Class Id="{589EE41E-7541-3A14-A001-28FC271C488C}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" />
                </Class>
                <Class Id="{76B5FC25-5E91-3F87-BC56-911FBD95AF52}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{BA955265-9729-3417-B11E-902FA13C598E}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{C9D371D8-E402-394D-80D0-955E513D34B2}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{D1A791E8-082D-3E66-B055-648F531A117F}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{F87FADED-5131-32D5-82B4-EDDD09259700}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0A78C383-DA71-3D24-88DD-BBE1EE1692BB}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0AD073C8-E6D4-3769-A46A-FB9CFD4F3740}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{380582C1-A3CB-3906-A907-F5C09225B61D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{3954E74A-6A1C-3F5D-A4CB-5A856835E146}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{57B4F967-191D-39FF-9C93-6586394CE88F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{589EE41E-7541-3A14-A001-28FC271C488C}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{76B5FC25-5E91-3F87-BC56-911FBD95AF52}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{83AC8A55-DA71-331F-B18B-F6DD2C3D8B41}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BA955265-9729-3417-B11E-902FA13C598E}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BD8AB888-5A2A-3C73-B7D4-FB22A211FF07}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C9D371D8-E402-394D-80D0-955E513D34B2}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D1A791E8-082D-3E66-B055-648F531A117F}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E63FC62E-2473-39F2-9CAF-D88B5B112A2D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32\4.0.8131.22438" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F87FADED-5131-32D5-82B4-EDDD09259700}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD56494-BC4A-34CF-8C86-E3810BFE5F3A}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD56494-BC4A-34CF-8C86-E3810BFE5F3A}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD56494-BC4A-34CF-8C86-E3810BFE5F3A}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1AD56494-BC4A-34CF-8C86-E3810BFE5F3A}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{41E867A2-5555-368C-9978-E709C922D2D8}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{41E867A2-5555-368C-9978-E709C922D2D8}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{41E867A2-5555-368C-9978-E709C922D2D8}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{41E867A2-5555-368C-9978-E709C922D2D8}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4930B616-D9FF-3210-8874-B0689B94DD52}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4930B616-D9FF-3210-8874-B0689B94DD52}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4930B616-D9FF-3210-8874-B0689B94DD52}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4930B616-D9FF-3210-8874-B0689B94DD52}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4A58F329-189D-3321-AD25-0CBD946881E7}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagFormat" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4A58F329-189D-3321-AD25-0CBD946881E7}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4A58F329-189D-3321-AD25-0CBD946881E7}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{4A58F329-189D-3321-AD25-0CBD946881E7}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{57758909-3D0D-3D86-94CE-744C6F4B6F0A}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{57758909-3D0D-3D86-94CE-744C6F4B6F0A}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{57758909-3D0D-3D86-94CE-744C6F4B6F0A}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{57758909-3D0D-3D86-94CE-744C6F4B6F0A}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60DE06CF-FF9C-3A03-9F8C-8D51EE453297}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60DE06CF-FF9C-3A03-9F8C-8D51EE453297}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60DE06CF-FF9C-3A03-9F8C-8D51EE453297}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{60DE06CF-FF9C-3A03-9F8C-8D51EE453297}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{652D2C85-3F6B-3CFB-8C92-E0AB9A807AF5}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagProcessClassification" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{652D2C85-3F6B-3CFB-8C92-E0AB9A807AF5}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{652D2C85-3F6B-3CFB-8C92-E0AB9A807AF5}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{652D2C85-3F6B-3CFB-8C92-E0AB9A807AF5}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6E6856A7-13BA-3AD1-BD08-CED688303D35}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagDisplay" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6E6856A7-13BA-3AD1-BD08-CED688303D35}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6E6856A7-13BA-3AD1-BD08-CED688303D35}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6E6856A7-13BA-3AD1-BD08-CED688303D35}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{84BF1421-59B3-3861-92E8-D793F43AD486}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{84BF1421-59B3-3861-92E8-D793F43AD486}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{84BF1421-59B3-3861-92E8-D793F43AD486}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{84BF1421-59B3-3861-92E8-D793F43AD486}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9F467FD6-0D78-366E-A198-8675D3F9458B}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.PageSchemaPosition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9F467FD6-0D78-366E-A198-8675D3F9458B}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9F467FD6-0D78-366E-A198-8675D3F9458B}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{9F467FD6-0D78-366E-A198-8675D3F9458B}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3F9B7C5-1D7F-37FB-8E62-384DA7D89422}\4.0.8131.22438" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagInputEventArgs+TaggingAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3F9B7C5-1D7F-37FB-8E62-384DA7D89422}\4.0.8131.22438" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.22438, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3F9B7C5-1D7F-37FB-8E62-384DA7D89422}\4.0.8131.22438" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{B3F9B7C5-1D7F-37FB-8E62-384DA7D89422}\4.0.8131.22438" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>