<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMReg">
            <Component Id="cmp49D9E8C3A0F9C35FEAAADA4A1E205506" Directory="INSTALLFOLDER" Guid="*">
                <Class Id="{0C5E6C22-B212-3752-A94D-A678596A07B2}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" />
                </Class>
                <Class Id="{134F05A4-7846-381F-93FE-A52DC3D0822E}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Description="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" />
                </Class>
                <Class Id="{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" />
                </Class>
                <Class Id="{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" />
                </Class>
                <Class Id="{4A29EF83-1522-3FFF-BE96-655BF7B807B2}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" />
                </Class>
                <Class Id="{64881789-320B-3240-826E-52537CB2FD12}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Description="WetHatLab.OneNote.TaggingKit.common.ui.Tag" />
                </Class>
                <Class Id="{8DC4156A-EFB2-304F-8A39-551D29174BA9}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" />
                </Class>
                <Class Id="{BFA103B3-67F9-3FE2-B153-F71C050D96F8}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Description="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" />
                </Class>
                <Class Id="{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKitAddin" Description="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" />
                </Class>
                <Class Id="{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Description="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" />
                </Class>
                <Class Id="{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Description="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" />
                </Class>
                <Class Id="{D9F5A562-68AF-37C9-8055-935F1502CE66}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Description="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" />
                </Class>
                <Class Id="{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Description="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" />
                </Class>
                <Class Id="{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}" Context="InprocServer32" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Description="WetHatLab.OneNote.TaggingKit.common.PageTagSet" />
                </Class>
                <File Id="fil79EBA630BFC629C16F2875094A76C4EA" KeyPath="yes" Source="$(var.OneNoteTaggingKit.TargetDir)\OneNoteTaggingKit.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{0C5E6C22-B212-3752-A94D-A678596A07B2}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TagEditorDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{134F05A4-7846-381F-93FE-A52DC3D0822E}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectableTag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1B6C942D-0621-36AA-BB5D-3CC27C60A9A7}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.FilterableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{35DBB2C1-665E-3D22-A5A1-EB2FC8FB83AF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SelectedTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4A29EF83-1522-3FFF-BE96-655BF7B807B2}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.Tag" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{64881789-320B-3240-826E-52537CB2FD12}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.FindTaggedPagesDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{8DC4156A-EFB2-304F-8A39-551D29174BA9}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.find.HitHighlightedPageLinkDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BFA103B3-67F9-3FE2-B153-F71C050D96F8}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.ConnectTaggingKitAddin" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{C3CE0D94-89A1-4C7E-9633-C496FF3DC4FF}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.SearchScopeFacade" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D16ACDA0-28E3-384A-8AF6-FABF7A8EC420}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.ui.ScopeSelectorModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D991F0C0-AF9E-32BA-866B-A145DFF7C95D}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32\4.0.8131.33107" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D9F5A562-68AF-37C9-8055-935F1502CE66}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.RemovableTagModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{E5C63C1C-8754-3E2A-B4B5-F12C093A5208}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.manage.TagManagerDesignerModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{EE8E1FB9-AB5D-30ED-AC51-EF27760A9F88}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F57CE1C1-86A4-3581-96EA-F4E79EEF17E2}\InprocServer32" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1261DAC8-A249-31DF-980E-57B37A1F8F99}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.PageSchemaPosition" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1261DAC8-A249-31DF-980E-57B37A1F8F99}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1261DAC8-A249-31DF-980E-57B37A1F8F99}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1261DAC8-A249-31DF-980E-57B37A1F8F99}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B8D9FC9-59D4-3A78-86EE-706C767C9EA3}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.SearchScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B8D9FC9-59D4-3A78-86EE-706C767C9EA3}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B8D9FC9-59D4-3A78-86EE-706C767C9EA3}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{1B8D9FC9-59D4-3A78-86EE-706C767C9EA3}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="Class" Value="Extensibility.ext_ConnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF1-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="Class" Value="Extensibility.ext_DisconnectMode" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{289E9AF2-4973-11D1-AE81-00A0C90F26F4}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{46C54FD6-F0E6-39F7-840A-DC63A52F89DC}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagProcessClassification" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{46C54FD6-F0E6-39F7-840A-DC63A52F89DC}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{46C54FD6-F0E6-39F7-840A-DC63A52F89DC}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{46C54FD6-F0E6-39F7-840A-DC63A52F89DC}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7524F7DC-970F-3754-B43B-729F32DA5CF8}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.Tagger.TagOperation" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7524F7DC-970F-3754-B43B-729F32DA5CF8}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7524F7DC-970F-3754-B43B-729F32DA5CF8}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7524F7DC-970F-3754-B43B-729F32DA5CF8}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{76E087A7-7AC3-3F11-9439-07EAC493B389}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.PageBuilder.TagDisplay" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{76E087A7-7AC3-3F11-9439-07EAC493B389}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{76E087A7-7AC3-3F11-9439-07EAC493B389}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{76E087A7-7AC3-3F11-9439-07EAC493B389}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7B429E2C-2665-383C-8BB2-D92967416E3F}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagFormat" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7B429E2C-2665-383C-8BB2-D92967416E3F}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7B429E2C-2665-383C-8BB2-D92967416E3F}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{7B429E2C-2665-383C-8BB2-D92967416E3F}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A617A5A7-5F62-30B0-BC9D-0991CD7E608F}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TextFragment" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A617A5A7-5F62-30B0-BC9D-0991CD7E608F}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A617A5A7-5F62-30B0-BC9D-0991CD7E608F}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A617A5A7-5F62-30B0-BC9D-0991CD7E608F}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AADE4897-1C89-30DC-BEEB-1758BF9830C2}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.PageTagType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AADE4897-1C89-30DC-BEEB-1758BF9830C2}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AADE4897-1C89-30DC-BEEB-1758BF9830C2}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{AADE4897-1C89-30DC-BEEB-1758BF9830C2}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C475DA20-F4E7-3CEF-8A27-CB1F88E565E2}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.TagInputEventArgs+TaggingAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C475DA20-F4E7-3CEF-8A27-CB1F88E565E2}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C475DA20-F4E7-3CEF-8A27-CB1F88E565E2}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C475DA20-F4E7-3CEF-8A27-CB1F88E565E2}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D3C4AB8F-8232-335E-B4FD-090B273359DF}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.common.NotifyDictionaryChangedAction" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D3C4AB8F-8232-335E-B4FD-090B273359DF}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D3C4AB8F-8232-335E-B4FD-090B273359DF}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{D3C4AB8F-8232-335E-B4FD-090B273359DF}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{FCA72EDE-1131-3847-84EA-9A0FA888A0A7}\4.0.8131.33107" Name="Class" Value="WetHatLab.OneNote.TaggingKit.edit.TaggingScope" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{FCA72EDE-1131-3847-84EA-9A0FA888A0A7}\4.0.8131.33107" Name="Assembly" Value="OneNoteTaggingKit, Version=4.0.8131.33107, Culture=neutral, PublicKeyToken=f0801476e73461fa" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{FCA72EDE-1131-3847-84EA-9A0FA888A0A7}\4.0.8131.33107" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{FCA72EDE-1131-3847-84EA-9A0FA888A0A7}\4.0.8131.33107" Name="CodeBase" Value="file:///[#fil79EBA630BFC629C16F2875094A76C4EA]" Type="string" Action="write" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>